<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="/assets/images/logo.png" alt="ATPLKing" class="header-logo" />
  </a>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <button id="toggle-theme" class="theme-btn" onclick="toggleMode()">
      <span
        id="theme-icon"
        data-width="20"
        data-height="20"
        class="iconify"
        data-icon=""
      ></span>
    </button>
    <button class="github-btn">
      <span
        data-width="20"
        data-height="20"
        class="iconify"
        data-icon="simple-icons:github"
      ></span>
    </button>
    <a
      href="https://buymeacoffee.com/chesterkxng"
      class="btn donation-link d-flex align-items-center justify-content-center"
    >
      <span
        class="iconify mr-2"
        data-icon="mdi:heart"
        data-width="20"
        data-height="20"
      ></span>
      Buy me a coffee
    </a>
  </div>
</nav>
